<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% if page_description %}
    <meta name="description" content="{{ page_description }}">{% endif %} {% if site_author %}
    <meta name="author" content="{{ site_author }}">{% endif %} {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">{% endif %} {% if favicon %}
    <link rel="shortcut icon" href="{{ base_url }}/{{ favicon }}">{% else %}
    <link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">{% endif %}

    <title>{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}</title>

    <link href="{{ base_url }}/css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="{{ base_url }}/css/base.css" rel="stylesheet">
    <link href="{{ base_url }}/css/cinder.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url }}/css/highlight.css">{%- for path in extra_css %}


    <link href="{{ path }}" rel="stylesheet">{%- endfor %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    {% if google_analytics %}
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ google_analytics[0] }}', '{{ google_analytics[1] }}');
    ga('send', 'pageview');
    </script>
    {% endif %}
</head>

<body{% if current_page and current_page.is_homepage %} class="homepage" {% endif %}>

    {% include "nav.html" %}

    <div class="container">
        {% block content %}
        <div class="col-md-3">{% include "toc.html" %}</div>
        <div class="col-md-9" role="main">{% include "content.html" %}</div>
        {% endblock %}
    </div>

    <footer class="col-md-12 text-center">
        <hr>
        <p>{% if copyright %}
        <small>{{ copyright }}<br></small>
        {% endif %}
        <small>GERTPOWERS</p></small>
    </footer>

    <script src="{{ base_url }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ base_url }}/js/bootstrap-3.0.3.min.js"></script>
    <script src="{{ base_url }}/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '{{ base_url }}';
    </script>
    <script data-main="{{ base_url }}/mkdocs/js/search.js" src="{{ base_url }}/mkdocs/js/require.js"></script>
    <script src="{{ base_url }}/js/base.js"></script>
    {%- for path in extra_javascript %}
    <script src="{{ path }}"></script>
    {%- endfor %}

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
{% if current_page and current_page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
